{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
       <div class="col-lg-6 col-lg-push-3" >
        {% if validlink %}
            <h3>Change password</h3>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-danger" type="submit">Change password</button>
            </form>
          {% else %}
            <p>
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </p>
        {% endif %}
       </div>
    </div>
{% endblock %}