{% load static %}
{% load i18n widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet">
    <link href="{% static 'css/styles.css'  %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="col-lg-6 col-lg-push-3 log-box">
            <div class="row text-center">
                <h2>Sign up</h2>
            </div>
              <div class="row text-center" >
                  <div class="col-lg-8 col-lg-push-2">
                      <form method="post" class="form-sign" >
                    {% csrf_token %}
                    {% for field in form %}
                      <p class="text-left" style="width: 100%;">
                        {{ field.label_tag }}<br>
                        {{ field|attr:"class:form-control" }}<br>
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                       </p>
                    {% endfor %}
                    <button class="text-center btn btn-primary" style="margin-top: 15px; margin-bottom: 15px; width: 100%;" type="submit">Sign up</button>
                  </form>
                  <br><a class="text-left" href="{% url 'core:login' %}">Already a User ? Login</a>
                  </div>
              </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>