body {
    background-color: #e9e9e9;
}
.form-sign input{
    width: 100% !important;
}
.logcen {
    margin-top: 20%;
    background-color: #f3f3f3 !important;
    padding: 25px;
    border: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.log-box {
    margin-top: 10%;
    background-color: #f3f3f3 !important;
    padding: 25px;
    border: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.bub {
	margin: 0pc;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background-color: lightgreen;
    border-radius: 60px 60px 10px 60px !important;
}
.list-group-item {
	border: 0px !important;
	background-color: transparent;
	margin: 0px !important;
	padding: 0px !important;
}
.bub-left {
	margin: 0pc;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background-color: lightblue;
    border-radius: 60px 60px 60px 10px !important;
}
.input-group-btn {
	border-radius: 60px;
}
/*SEARCH FORM*/
.search-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to cange only one form and not all give unique class name like  class="search-form" */
 .search-btn {
    border-radius: 0px 30px 30px 0px;
    outline: none !important;
    background-color: #00E676 !important;
    color: black !important;

}
 .search-btn:hover {
 	background-color: #00C853 !important;

 }
 .panel {
 	 -webkit-border-bottom-right-radius: 19px;
	-webkit-border-bottom-left-radius: 19px;
	-moz-border-radius-bottomright: 19px;
	-moz-border-radius-bottomleft: 19px;
	border-bottom-right-radius: 19px;
	border-bottom-left-radius: 19px;
 }
.panel-footer {
 	padding: 0px;
 	border: 0px;
 	background-color: transparent;
 }
 .panel-body {
 	/*height: 85vh;*/
 }
 .panel-heading {
 	background-color: #1E88E5 !important;
 }
 /*#msg-list-div {*/
     /*height: 85vh;*/
 /*}*/


.row {
    margin: 0px;
}
.menu-ass {
    padding: 10px;
}
.btn-group-vertical a {
    width: 100%;
}
.btn-group-vertical button {
    width: 100%;
}