{% extends 'core/base.html' %}
{% block title %}
Class Network | Assignment Inbox
{% endblock %}
{% block content %}
    <div class="container-fluid" >
       <div class="col-lg-2">
               <div class="col-lg-6 col-lg-push-6">
                    <div class="row">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        <a href="{% url 'assignQ' %}"><button class="btn btn-default menu-ass"><i class="far fa-envelope"></i>&nbsp;&nbsp;Inbox</button></a>
                        <a href="{% url 'sent' %}"><button class="btn btn-default menu-ass"><i class="fas fa-paper-plane"></i>&nbsp;&nbsp;Sent</button></a>
                        <a href="{% url 'compose' %}"><button class="btn btn-default menu-ass"><i class="fas fa-plus"></i>&nbsp;&nbsp;Compose</button></a>
                    </div>
                </div>
            </div>
       </div>
        <div class="col-lg-10">
             <div class="row">
          <div class="col-lg-12">
              <h4>Assignments : Inbox</h4>
          </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
                <table class="table table-striped">
                    {% for assign in assign %}
                        {% if assign.dept == user.profile.dept and assign.sem == user.profile.sem %}
                            <tr>
                                <td >&nbsp;&nbsp;&nbsp;{{ assign.Paper }}</td>
                                <td class="text-left" >{{ assign.title }}</td>
                                <td class="text-left" >{{ assign.sub }}</td>
                                <td class="text-left"><a href="{% url 'view' assign.id %}">Read More</a></td>
                                <td>{{ assign.created }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
           </div>
        </div>
        </div>
    </div>
{% endblock %}